#to_center {
  margin: auto;
  width: 64vw;
  padding: 10px;
}

#button-menu {
  margin: auto;
  width: 64vw;
  padding: 10px;

    display: flex;
    justify-content: center;
}

#picture_holder_1, #picture_holder_2, #picture_holder_3 {
  border: 1px solid #151719;
  padding: 0;
  margin: auto;
  display: block;
}

#picture_holder_1 {
  height: 36vw;
  width: 64vw;
  background-image: url('/assets/images/seam/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.text-centering {
  text-align: center;
}

.header {
      display: flex;
      margin-bottom: 0;
}

#to_center .card {
  width: 64vw;
  margin-bottom: 20px;
}

.image-button {
  margin: auto;
  padding: 10px;
  width: 5vw;
  height: 5vw;
  border: 1px solid #151719;
}

#btn-1 {
  background: url('/assets/images/seam/1.jpg') no-repeat;
  background-size: cover;
}

#btn-2 {
  background: url('/assets/images/seam/2.jpg') no-repeat;
  background-size: cover;
}
#btn-3 {
  background: url('/assets/images/seam/3.jpg') no-repeat;
  background-size: cover;
}
#btn-4 {
  background: url('/assets/images/seam/4.jpg') no-repeat;
  background-size: cover;
}

#play {
  margin-right: 5px;
}

#carving-title {
  margin-top: 3px;
}
