
<div id="to_center" class="container">
  <div style="width:35vw;margin-left:0px;" class="row">
    <button class="col-lg-4 text-centering">Pre-process</button>
    <button class="col-lg-4 text-centering">Process details</button>
    <button class="col-lg-4 text-centering">Post-Process</button>
  </div>
  <div id="picture_holder">
  </div>
  <div id="button-menu">
      <button id="btn-1" class="btn image-button" (click)="switchPicture(1)"></button>
      <button id="btn-2" class="btn image-button" (click)="switchPicture(2)"></button>
      <button id="btn-3" class="btn image-button" (click)="switchPicture(3)"></button>
      <button id="btn-4" class="btn image-button" (click)="switchPicture(4)"></button>
  </div>
</div>
